.DS_Store
node_modules
/dist

# temp
/cor
/back/access.log
/back/routes/punchlist/store
/src/electron/store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Electron-builder output
/dist_electron